<div class="layout">
  <div class="sidebar">
    <button routerLink="/home" routerLinkActive="active">Home</button>

    <button (click)="togglePropriedades()">Propriedades</button>
    <div *ngIf="mostrarSubmenu" style="padding-left: 20px;">
      <button routerLink="/unidades" routerLinkActive="active">
        Unidades</button>
    </div>
  </div>

  <div class="main-area">
    <div class="menu-header">
      <span class="menu-icon">📂 Sistema de Aluguel</span>
    </div>
    <div class="top-line"></div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>